* {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url(./fleurs_roses.jpg) center/cover;
}
.app {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  margin: 0 10px;
  padding: 24px 10px 10px;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  box-shadow: 3px 4px 10px 0px #a76666c2;
}
#password-output {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  width: 100%;
}
.range-container {
  margin: 20px 0;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 160px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border-radius: 50px;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.65) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
  background-blend-mode: multiply, multiply;
  cursor: pointer;
  border-radius: 18px;
  transform: translateY(-11px);
  transition: 0.15s ease;
  cursor: grab;
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
  transform: scale(1.2) translateY(-9px);
}
#display-password-length {
  width: 30px;
  background: transparent;
  border: none;
}
.checkbox-container {
  margin: 36px 0 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  transform: scale(1.3);
  filter: brightness(150%);
}
label {
  user-select: none;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: 60px;
  width: 60px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);
  transition: 0.2s ease;
  cursor: pointer;
}
button {
  margin: 14px 0 20px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 10px 20px;
  border-radius: 150px;
  border: 2px solid #accbee;
  border-bottom: 3px solid yellow;
  border-right: 3px solid yellow;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  border: 2px solid yellow;
  border-bottom: 3px solid #accbee;
  border-right: 3px solid #accbee;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
  transform: translateX(3px);
}
button:active {
  transform: scale(1.05);
}
